@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swal2-width: 24em !important;
  --page-color: #f8f8f8;
}

body,
html {
  background-color: var(--page-color);
}

.text-meta {
  @apply text-zinc-500;
}
.text-link {
  @apply text-blue-500 underline;
}

.q-list--separator > .q-item-type + .q-item-type,
.q-field--outlined .q-field__control:before,
.q-table th,
.q-table td {
  border-color: rgb(179 179 179 / 12%);
}

.bg-video {
  @apply relative;
}
.bg-video .video {
  @apply absolute inset-0 w-full h-full object-cover;
}
.bg-video::after {
  @apply absolute inset-0 w-full h-full bg-black/70 z-10;
  content: '';
}

.bg-video .title-box {
  @apply h-[450px] z-20 relative container flex flex-col  justify-center;
}
.q-dialog .bg-video .title-box {
  @apply h-[120px];
}

.note-item {
  @apply rounded-lg overflow-hidden;
  .note-item-section {
    .avatar {
      @apply bg-black text-white text-xl font-mono;
      @apply flex flex-col items-center justify-center;
      @apply p-3 space-y-2 absolute top-0 bottom-0 left-0;
      @apply w-[160px] break-all rounded-lg;
    }
    .info {
      @apply pl-[160px] w-full;
    }
  }
  &.CLOSED {
    @apply opacity-50 cursor-not-allowed;
    .avatar {
      @apply bg-amber-500 !important;
    }
  }
  &.PENDING {
    .avatar {
      @apply bg-blue-500 !important;
      .bg-PENDING {
        @apply bg-blue-50 text-blue-500 !important;
      }
    }
  }
  &.ACTIVE {
    .avatar {
      @apply bg-green-500 !important;
      .bg-ACTIVE {
        @apply bg-green-50 text-green-500 !important;
      }
    }
  }
}

div:where(.swal2-container) {
  z-index: 9999999 !important;
}

div:where(.swal2-container) div:where(.swal2-html-container) {
  @apply !text-sm !leading-loose;
}

div:where(.swal2-icon).swal2-question {
  border-color: var(--q-warning);
  color: var(--q-warning);
}

.main-menu {
  @apply flex items-center space-x-4;
  .q-item {
    @apply rounded-lg text-base;
    &.q-router-link--active {
      @apply bg-zinc-800 text-white;
    }
  }
}

.q-table {
  thead {
    @apply bg-zinc-50;
  }
  .bg-CLOSED {
    @apply bg-orange-50 text-orange-500;
  }
  .bg-INIT {
    @apply bg-blue-50 text-blue-500;
  }
  .bg-ACTIVE {
    @apply bg-green-50 text-green-500;
  }
}

ul.note-countdown {
  @apply flex items-center justify-center space-x-2 font-mono text-2xl font-bold;
  .label {
    @apply font-serif text-lg;
  }
}

.site-footer {
  @apply bg-primary p-10;
}
.platform-terms-of-service {
  @apply leading-loose;
  h3 {
    @apply font-bold text-xl my-3;
  }
}

.risk-disclosure-statement {
  background-color: var(--page-color);
  @apply text-sm leading-loose space-y-2 p-4;
  h2 {
    @apply text-xl font-bold mb-3;
  }
  h3 {
    @apply text-lg font-bold;
    @apply my-4 !important;
  }
}
